mixin video(info)
    div 
        a(href="/videos/"+info.id)=info.title
    div 
        p=info.description 
        ul 
            each hashtag in info.hashtags
                li=hashtag
        small=info.createdAt
        hr