.social-login {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 50px;
  padding-top: 50px;
  .social-login__btn {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    display: block;
    background-color: $red;
    text-align: center;
    cursor: pointer;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-weight: 600;
    &:nth-child(2) {
      position: relative;
      img {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 24%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .social__btn--github {
    background-color: #24883b;
  }
  .social-login__btn--kakao {
    background-color: #ffe500;
    color: $bg;
  }
}
