extends base

block content
    if errorMessage 
        span=errorMessage
    form(method="post") 
        input(type="password",name="oldPassword",placeholder="Old Password")
        input(type="password",name="newPassword",placeholder="New Password")
        input(type="password",name="newPasswordConfiguration",placeholder="New Password configuration")
        input(type="submit", value = "Change")