extends base.pug
include mixin/video.pug


block content
    div.video-grid
            each list in videos
                +video(list) 
                +video(list) 
                +video(list) 
                +video(list) 
                +video(list) 
                +video(list) 
                +video(list) 
            else 
                span.empty__message Nothing else!