extends base.pug
include mixin/video.pug


block content 
    form(method="get").search-form 
        input(name="title", type="text", placeholder="Search wetube's title!")
        input(type="submit", value="Search")
    
    div.video-grid
            each list in videos
                +video(list) 
            else 
                span.empty__message Nothing else!