div.social-login   
    a(href="/users/github/start").social-login__btn.social__btn--github 
        i.fab.fa-github 
        span  Continue with Github &rarr;
    a(href="/users/kakao/start").social-login__btn.social-login__btn--kakao 
        img(src="https://pbs.twimg.com/profile_images/738200195578494976/CuZ9yUAT_400x400.jpg", alt="")
        span Continue with KAKAO &rarr;
